
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=2">
  <!-- define images for footer -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="footer.css"> 
  <!-- bootstrap for container -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Berk Iskar | Movies/BigFish</title>
  <style>
    header {
      background-color: #333;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    html{
      position: relative;
    }
      html::before{
        content:'';
        background: url(Essex.png)  center center;
        position: absolute;
        top:0px;
        left: 0px;
        width:100%;
        height:100%;
        z-index:-1;
        opacity: 0.15; 
      }
    h1 {
      margin: 0;
    }
    main {
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px;
      }
      /* styling of the class */
    .movie-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      opacity: 0;
    }
    .movie-card img {
      height: 350px;
      width: 500px;
      padding: 30px;
    }
    .movie-card p {
      text-align: justify;
      text-indent: 40px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Big Fish</h1>
  </header>
<main>
   <!-- class containing img and description-->
  <div class="container">  
        <div class="movie-card">
          <img src="bigfssss.jpg" alt=" a scene from BigFish ">
          <p>At Will Bloom's wedding party in 2000, his father Edward recalls the day Will was born, claiming he caught an enormous catfish using his wedding ring as bait. Will, having heard these stories all his life, believes them to be lies and falls out with his father.</p>
          <p>Three years later in 2003, Edward has cancer, so Will and his pregnant French wife Joséphine return to the town of Ashton, Alabama, to spend time with him. During the plane ride, Will recalls a story of Edward's childhood encounter with a witch in 1932, who shows him his death in her glass eye. Edward, in spite of his illness, continues to tell the story of his life to Will and Joséphine. He claims to have once been bedridden for three years due to his rapid growth spurts. He then became a locally famous sportsman before being driven by his ambition to leave his hometown.</p>
          <p>In 1944, he sets out into the world with a misunderstood giant, Karl, who was terrorizing the town by eating livestock from the surrounding farms. Edward and Karl find a fork in the road and travel down separate paths. Edward follows a path through a swamp and discovers the secret town of Spectre, the cheery locals claiming he was expected. There, he befriends Ashton poet Norther Winslow and the mayor's daughter, Jenny. However, Edward leaves Spectre, unwilling to settle down but promising Jenny he will return.</p>
          <p>Edward and Karl reunite and visit the Calloway Circus in 1948, where Edward falls in love with a beautiful young woman. Karl and Edward get jobs in the circus, where the ringmaster Amos Calloway reveals to Edward one detail about the woman at the end of every month. Three years later in 1951, Edward discovers that Amos is secretly a werewolf and is attacked by him, but avoids getting him shot with a silver bullet by playing fetch until he turns back into human in the morning. Amos, upon returning to normal, reveals the woman's name to be Sandra Templeton, and that she attends Auburn University.</p>
          <p>Edward travels to Auburn, and stalks Sandra for many days, even going so far as to plant thousands of daffodils outside of her sorority house bedroom. She tells him that she is engaged to Edward's childhood peer, Don Price. Don brutally beats up Edward, prompting Sandra to break off their engagement and marry Edward. Not long after, Don dies of a heart attack, as the witch had prophesied.</p>
          <p>Shortly after, Edward is drafted into the army in 1952, and sent to fight in the Korean War, He parachutes into the middle of a North Korean military show, steals important documents, and convinces Siamese twins Ping and Jing to help him go home in exchange for making them celebrities. Upon returning home, Edward becomes a travelling salesman and crosses paths with Winslow, in 1963. He unwittingly helps Winslow rob a failing bank with no money, and later inspires the poet to work on Wall Street. Winslow becomes a wealthy broker and repays Edward with ten thousand dollars, which Edward uses to obtain his dream house.</p>
          <p>In the present, Will investigates the truth behind his father's tales and travels to Spectre. He meets an older Jenny, who explains that in 1968, Edward rescued the town from bankruptcy by buying it in an auction and rebuilt it with help from his friends with the Calloway Circus. Will suggests that Jenny had an affair with his father, but she reveals that although she loved Edward, he remained faithful to Sandra.</p>
          <p>Will returns home but learns Edward has had a stroke and stays with him at the hospital. Edward wakes up but, unable to speak much, explains the entire setting is what he saw in the witch's eye. Will starts to believe him as he becomes afraid, but he calms him by narrating what he always guessed Edward saw in the eye. Though struggling, Will tells his father of their imagined daring escape from the hospital to the nearby river, where everyone from Edward's past is there to see him off; Will carries Edward through the joyful crowd into the river, where Edward transforms into the giant catfish and swims away. Through telling this story, Will learns to forgive his father, who dies satisfied with his life.</p>
          <p>At the funeral, Will and Joséphine are surprised when all the people from Edward's stories come to the service, though each one is slightly less fantastical than described. He asks for their accounts of Edward's stories, where they confirm the credibility but also fantasize his acts in return. Years later, Will passes on Edward's stories to his own son, helping him become "immortal".</p>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="anime.js"></script>

 </main>
  </body>

  <footer>
    <nav>
      <p>Contact me:</p>
      <a href="tel:555-555-5555">
        <i class="fa fa-phone"></i>
      </a>
      <a href="https://www.instagram.com/cbum/?hl=en">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/berk.iskar.28">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="https://www.youtube.com/@StarTalk">
        <i class="fa fa-youtube"></i>
      </a>
    </nav>
  </footer>
</html>