<html lang="en">
    <link rel="stylesheet" href="hobbystyle.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berk Iskar | Hobbies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
      <!-- descriptions for each slide -->
    <div class="text-slider-wrapper">
        <div class="text-slider">
              <div class="text-slide"><h1>Basketball<br> Sky is your limit.</h1></div>
              <div class="text-slide"><h1>Volleyball <br> Let them stay down.</h1></div>
              <div class="text-slide"><h1>Skateboarding <br> An art form.</h1></div>
              <div class="text-slide"><h1>Horse Riding <br>Like a violin...</h1></div>
        </div>
  </div>
      <!-- button for navigation -->
  <div class="slider-control">
        <div class="prev"><button type="button"><ion-icon name="arrow-back"></ion-icon></button></div>
        <div class="next"><button type="button"><ion-icon name="arrow-forward"></ion-icon></button></div>
  </div>

  <div class="blocks">
        <div class="block-1"></div>
        <div class="block-2"></div>
        <div class="block-3"></div>
  </div>

  <div class="overlay"></div>
  <!-- gifs -->
  <div class="image-slider">
        <div class="image-slide" id="one" style="background: url(https://media.giphy.com/media/rBVM213ASKBIk/giphy.gif) no-repeat 50% 50%; background-size: cover;"></div>
        <div class="image-slide" id="two" style="background: url(https://media.giphy.com/media/SegIzZC6QpzRG2WoX1/giphy.gif) no-repeat 50% 50%; background-size: cover;"></div>
        <div class="image-slide" id="three" style="background: url(https://media.giphy.com/media/3o7qDFoXt22QsZVey4/giphy.gif) no-repeat 50% 50%; background-size: cover;"></div>
        <div class="image-slide" id="four" style="background: url(https://media.giphy.com/media/XHFUwQH8cjNOWs7CzE/giphy-downsized-large.gif) no-repeat 50% 50%; background-size: cover;"></div>
  </div>
  <!-- animations of gifs and  -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
       <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
      <script src="hobbyscript.js"></script>
</body>

</html>